div#titlearea {
   display: none;
}

div.contents {
   background-color: white; max-width: 900px; margin-left: 0; padding-left: 20px; padding-right: 20px;
}

.marker {
	background-color: #cbda00;
}

.monospace {
	font-family: "Courier New", monospace;
	font-weight: bold;
}

h1 {
	line-height: 1.25;
}

div.fragment
{
	overflow: auto;
}

div.line
{
	white-space: pre;
}

.fit {
	display: inline-flex;
}