.include {
	border-style: solid;
	border-width: 1px;
	border-color: #c4cfe5;
	background-color: #fbfcfd;
	padding: 4px 6px;
	display: inline-flex;
	margin: 4px 8px 4px 2px;
}

mark {
	background-color: #cbda00;
}

.snippet {
	border-style: solid;
	border-width: 1px;
	border-color: #c4cfe5;
	background-color: #fbfcfd;
	padding: 4px 6px;
	margin: 4px 8px 4px 2px;
	font-family: monospace;
}

var {
	font-family: monospace;
	font-weight: bold;
	font-style: normal;
}

video, .screen {
	display: block;
	margin: auto;
}

.screen {
	padding: 1em 0em 1em 0em;
}

.border {
	border: solid;
	border-width: 2px;
	margin: 0px 10px 0px 10px;
}

.shadow {
	box-shadow: 0 1px 1px 0 grey;
	display: block;
	margin: 1em auto;
}