---
layout: default
---

    <div class="container">

      <div class="page-header" id="banner">

        <div class="row">

          <div class="col-sm-9">

            <!-- find active tutorial -->
            {% for item in site.data.menu %}
              {% if item.submenu %}
                {% if page.tutorial == item.tutorial %}{% assign activeTutorialSubmenu = item.submenu %}{% endif %}
              {% endif %}
            {% endfor %}

            {% for item in activeTutorialSubmenu %}
                {% assign p = page.path | prepend: "/inet-tutorials/" %}
                {% assign l = item.link | append: ".md" %}
                {% if p == l %}
                    {% assign activeStepItem = item %}
                    {% continue %}
                {% endif %}
                {% if activeStepItem == nil %}
                    {% assign prevStepItem = item %}
                {% endif %}
                {% if nextStepItem == nil and activeStepItem != nil %}
                    {% assign nextStepItem = item %}
                {% endif %}
            {% endfor %}

            <div class="page">
              <h1 class="page-title">{{ page.title }}</h1>
              {{ content }}
              {% if prevStepItem %}<a href="{{ prevStepItem.link }}" class="btn btn-primary btn-sm">Previous</a>{% endif %}
              {% if nextStepItem %}<a href="{{ nextStepItem.link }}" class="btn btn-primary btn-sm" >Next: {{ nextStepItem.name }}</a>{% endif %}
            </div>
          </div>

          <div class="col-sm-3">
            <div class="affix">
            <!-- generated table of contents -->
            {% if page.generateToC %}
              <div id="toc" class="span3 bs-docs-sidebar">
              </div>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


